<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songshu.snt.stwms.core.dao.ReplenishRecordMapper">
  <resultMap id="BaseResultMap" type="com.songshu.snt.stwms.core.DO.ReplenishRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_no" jdbcType="VARCHAR" property="shopNo" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_guid" jdbcType="VARCHAR" property="productGuid" />
    <result column="product_bar_code" jdbcType="VARCHAR" property="productBarCode" />
    <result column="apply_num" jdbcType="INTEGER" property="applyNum" />
    <result column="actual_num" jdbcType="INTEGER" property="actualNum" />
    <result column="replenish_status" jdbcType="INTEGER" property="replenishStatus" />
    <result column="replenish_operator" jdbcType="VARCHAR" property="replenishOperator" />
    <result column="remake" jdbcType="VARCHAR" property="remake" />
    <result column="replenish_datetime" jdbcType="TIMESTAMP" property="replenishDatetime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="ext_att" jdbcType="VARCHAR" property="extAtt" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="row_status" jdbcType="INTEGER" property="rowStatus" />
    <result column="row_version" jdbcType="INTEGER" property="rowVersion" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_no, product_name, product_guid, product_bar_code, apply_num, actual_num, 
    replenish_status, replenish_operator, remake, replenish_datetime, gmt_create, gmt_modified, 
    ext_att, creator, operator, row_status, row_version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from replenish_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from replenish_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.songshu.snt.stwms.core.DO.ReplenishRecord">
    insert into replenish_record (id, shop_no, product_name, 
      product_guid, product_bar_code, apply_num, 
      actual_num, replenish_status, replenish_operator, 
      remake, replenish_datetime, gmt_create, 
      gmt_modified, ext_att, creator, 
      operator, row_status, row_version
      )
    values (#{id,jdbcType=BIGINT}, #{shopNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productGuid,jdbcType=VARCHAR}, #{productBarCode,jdbcType=VARCHAR}, #{applyNum,jdbcType=INTEGER}, 
      #{actualNum,jdbcType=INTEGER}, #{replenishStatus,jdbcType=INTEGER}, #{replenishOperator,jdbcType=VARCHAR}, 
      #{remake,jdbcType=VARCHAR}, #{replenishDatetime,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{extAtt,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{rowStatus,jdbcType=INTEGER}, #{rowVersion,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.songshu.snt.stwms.core.DO.ReplenishRecord">
    insert into replenish_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopNo != null">
        shop_no,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productGuid != null">
        product_guid,
      </if>
      <if test="productBarCode != null">
        product_bar_code,
      </if>
      <if test="applyNum != null">
        apply_num,
      </if>
      <if test="actualNum != null">
        actual_num,
      </if>
      <if test="replenishStatus != null">
        replenish_status,
      </if>
      <if test="replenishOperator != null">
        replenish_operator,
      </if>
      <if test="remake != null">
        remake,
      </if>
      <if test="replenishDatetime != null">
        replenish_datetime,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="extAtt != null">
        ext_att,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="rowStatus != null">
        row_status,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopNo != null">
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productGuid != null">
        #{productGuid,jdbcType=VARCHAR},
      </if>
      <if test="productBarCode != null">
        #{productBarCode,jdbcType=VARCHAR},
      </if>
      <if test="applyNum != null">
        #{applyNum,jdbcType=INTEGER},
      </if>
      <if test="actualNum != null">
        #{actualNum,jdbcType=INTEGER},
      </if>
      <if test="replenishStatus != null">
        #{replenishStatus,jdbcType=INTEGER},
      </if>
      <if test="replenishOperator != null">
        #{replenishOperator,jdbcType=VARCHAR},
      </if>
      <if test="remake != null">
        #{remake,jdbcType=VARCHAR},
      </if>
      <if test="replenishDatetime != null">
        #{replenishDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="extAtt != null">
        #{extAtt,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="rowStatus != null">
        #{rowStatus,jdbcType=INTEGER},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.songshu.snt.stwms.core.DO.ReplenishRecord">
    update replenish_record
    <set>
      <if test="shopNo != null">
        shop_no = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productGuid != null">
        product_guid = #{productGuid,jdbcType=VARCHAR},
      </if>
      <if test="productBarCode != null">
        product_bar_code = #{productBarCode,jdbcType=VARCHAR},
      </if>
      <if test="applyNum != null">
        apply_num = #{applyNum,jdbcType=INTEGER},
      </if>
      <if test="actualNum != null">
        actual_num = #{actualNum,jdbcType=INTEGER},
      </if>
      <if test="replenishStatus != null">
        replenish_status = #{replenishStatus,jdbcType=INTEGER},
      </if>
      <if test="replenishOperator != null">
        replenish_operator = #{replenishOperator,jdbcType=VARCHAR},
      </if>
      <if test="remake != null">
        remake = #{remake,jdbcType=VARCHAR},
      </if>
      <if test="replenishDatetime != null">
        replenish_datetime = #{replenishDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="extAtt != null">
        ext_att = #{extAtt,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="rowStatus != null">
        row_status = #{rowStatus,jdbcType=INTEGER},
      </if>
      <if test="rowVersion != null">
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.songshu.snt.stwms.core.DO.ReplenishRecord">
    update replenish_record
    set shop_no = #{shopNo,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_guid = #{productGuid,jdbcType=VARCHAR},
      product_bar_code = #{productBarCode,jdbcType=VARCHAR},
      apply_num = #{applyNum,jdbcType=INTEGER},
      actual_num = #{actualNum,jdbcType=INTEGER},
      replenish_status = #{replenishStatus,jdbcType=INTEGER},
      replenish_operator = #{replenishOperator,jdbcType=VARCHAR},
      remake = #{remake,jdbcType=VARCHAR},
      replenish_datetime = #{replenishDatetime,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      ext_att = #{extAtt,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      row_status = #{rowStatus,jdbcType=INTEGER},
      row_version = #{rowVersion,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.songshu.snt.stwms.core.DO.ReplenishRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_no" jdbcType="VARCHAR" property="shopNo" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_guid" jdbcType="VARCHAR" property="productGuid" />
    <result column="product_bar_code" jdbcType="VARCHAR" property="productBarCode" />
    <result column="apply_num" jdbcType="INTEGER" property="applyNum" />
    <result column="actual_num" jdbcType="INTEGER" property="actualNum" />
    <result column="replenish_status" jdbcType="INTEGER" property="replenishStatus" />
    <result column="replenish_operator" jdbcType="VARCHAR" property="replenishOperator" />
    <result column="remake" jdbcType="VARCHAR" property="remake" />
    <result column="replenish_datetime" jdbcType="TIMESTAMP" property="replenishDatetime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="ext_att" jdbcType="VARCHAR" property="extAtt" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="row_status" jdbcType="INTEGER" property="rowStatus" />
    <result column="row_version" jdbcType="INTEGER" property="rowVersion" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_no, product_name, product_guid, product_bar_code, apply_num, actual_num, 
    replenish_status, replenish_operator, remake, replenish_datetime, gmt_create, gmt_modified, 
    ext_att, creator, operator, row_status, row_version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from replenish_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from replenish_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.songshu.snt.stwms.core.DO.ReplenishRecord">
    insert into replenish_record (id, shop_no, product_name, 
      product_guid, product_bar_code, apply_num, 
      actual_num, replenish_status, replenish_operator, 
      remake, replenish_datetime, gmt_create, 
      gmt_modified, ext_att, creator, 
      operator, row_status, row_version
      )
    values (#{id,jdbcType=BIGINT}, #{shopNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productGuid,jdbcType=VARCHAR}, #{productBarCode,jdbcType=VARCHAR}, #{applyNum,jdbcType=INTEGER}, 
      #{actualNum,jdbcType=INTEGER}, #{replenishStatus,jdbcType=INTEGER}, #{replenishOperator,jdbcType=VARCHAR}, 
      #{remake,jdbcType=VARCHAR}, #{replenishDatetime,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{extAtt,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{rowStatus,jdbcType=INTEGER}, #{rowVersion,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.songshu.snt.stwms.core.DO.ReplenishRecord">
    insert into replenish_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopNo != null">
        shop_no,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productGuid != null">
        product_guid,
      </if>
      <if test="productBarCode != null">
        product_bar_code,
      </if>
      <if test="applyNum != null">
        apply_num,
      </if>
      <if test="actualNum != null">
        actual_num,
      </if>
      <if test="replenishStatus != null">
        replenish_status,
      </if>
      <if test="replenishOperator != null">
        replenish_operator,
      </if>
      <if test="remake != null">
        remake,
      </if>
      <if test="replenishDatetime != null">
        replenish_datetime,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="extAtt != null">
        ext_att,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="rowStatus != null">
        row_status,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopNo != null">
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productGuid != null">
        #{productGuid,jdbcType=VARCHAR},
      </if>
      <if test="productBarCode != null">
        #{productBarCode,jdbcType=VARCHAR},
      </if>
      <if test="applyNum != null">
        #{applyNum,jdbcType=INTEGER},
      </if>
      <if test="actualNum != null">
        #{actualNum,jdbcType=INTEGER},
      </if>
      <if test="replenishStatus != null">
        #{replenishStatus,jdbcType=INTEGER},
      </if>
      <if test="replenishOperator != null">
        #{replenishOperator,jdbcType=VARCHAR},
      </if>
      <if test="remake != null">
        #{remake,jdbcType=VARCHAR},
      </if>
      <if test="replenishDatetime != null">
        #{replenishDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="extAtt != null">
        #{extAtt,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="rowStatus != null">
        #{rowStatus,jdbcType=INTEGER},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.songshu.snt.stwms.core.DO.ReplenishRecord">
    update replenish_record
    <set>
      <if test="shopNo != null">
        shop_no = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productGuid != null">
        product_guid = #{productGuid,jdbcType=VARCHAR},
      </if>
      <if test="productBarCode != null">
        product_bar_code = #{productBarCode,jdbcType=VARCHAR},
      </if>
      <if test="applyNum != null">
        apply_num = #{applyNum,jdbcType=INTEGER},
      </if>
      <if test="actualNum != null">
        actual_num = #{actualNum,jdbcType=INTEGER},
      </if>
      <if test="replenishStatus != null">
        replenish_status = #{replenishStatus,jdbcType=INTEGER},
      </if>
      <if test="replenishOperator != null">
        replenish_operator = #{replenishOperator,jdbcType=VARCHAR},
      </if>
      <if test="remake != null">
        remake = #{remake,jdbcType=VARCHAR},
      </if>
      <if test="replenishDatetime != null">
        replenish_datetime = #{replenishDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="extAtt != null">
        ext_att = #{extAtt,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="rowStatus != null">
        row_status = #{rowStatus,jdbcType=INTEGER},
      </if>
      <if test="rowVersion != null">
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.songshu.snt.stwms.core.DO.ReplenishRecord">
    update replenish_record
    set shop_no = #{shopNo,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_guid = #{productGuid,jdbcType=VARCHAR},
      product_bar_code = #{productBarCode,jdbcType=VARCHAR},
      apply_num = #{applyNum,jdbcType=INTEGER},
      actual_num = #{actualNum,jdbcType=INTEGER},
      replenish_status = #{replenishStatus,jdbcType=INTEGER},
      replenish_operator = #{replenishOperator,jdbcType=VARCHAR},
      remake = #{remake,jdbcType=VARCHAR},
      replenish_datetime = #{replenishDatetime,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      ext_att = #{extAtt,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      row_status = #{rowStatus,jdbcType=INTEGER},
      row_version = #{rowVersion,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>