<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.songshu.snt.stwms.core.dao.skuMapper" >
  <resultMap id="BaseResultMap" type="com.songshu.snt.stwms.core.DO.sku" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="sku_type" property="skuType" jdbcType="TINYINT" />
    <result column="good_id" property="goodId" jdbcType="VARCHAR" />
    <result column="the_package_sku" property="thePackageSku" jdbcType="TINYINT" />
    <result column="query_pym_code" property="queryPymCode" jdbcType="VARCHAR" />
    <result column="query_wbm_code" property="queryWbmCode" jdbcType="VARCHAR" />
    <result column="sku_sub_name" property="skuSubName" jdbcType="VARCHAR" />
    <result column="sku_description" property="skuDescription" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="shop_no" property="shopNo" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="product_guid" property="productGuid" jdbcType="VARCHAR" />
    <result column="product_bar_code" property="productBarCode" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="financial_code" property="financialCode" jdbcType="VARCHAR" />
    <result column="taste" property="taste" jdbcType="VARCHAR" />
    <result column="product_spec" property="productSpec" jdbcType="VARCHAR" />
    <result column="big_unit" property="bigUnit" jdbcType="VARCHAR" />
    <result column="change_scale" property="changeScale" jdbcType="DECIMAL" />
    <result column="small_unit" property="smallUnit" jdbcType="VARCHAR" />
    <result column="quality_period" property="qualityPeriod" jdbcType="INTEGER" />
    <result column="min_quality_period" property="minQualityPeriod" jdbcType="INTEGER" />
    <result column="product_license" property="productLicense" jdbcType="VARCHAR" />
    <result column="product_standard" property="productStandard" jdbcType="VARCHAR" />
    <result column="additive" property="additive" jdbcType="VARCHAR" />
    <result column="burden" property="burden" jdbcType="VARCHAR" />
    <result column="storage_mode" property="storageMode" jdbcType="VARCHAR" />
    <result column="net_weight" property="netWeight" jdbcType="VARCHAR" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
    <result column="sku_status" property="skuStatus" jdbcType="INTEGER" />
    <result column="sku_label" property="skuLabel" jdbcType="VARCHAR" />
    <result column="sale_channel" property="saleChannel" jdbcType="TINYINT" />
    <result column="can_sale_unit" property="canSaleUnit" jdbcType="VARCHAR" />
    <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
    <result column="min_sale_quantity" property="minSaleQuantity" jdbcType="INTEGER" />
    <result column="max_sale_quantity" property="maxSaleQuantity" jdbcType="INTEGER" />
    <result column="last_cost_price" property="lastCostPrice" jdbcType="INTEGER" />
    <result column="cost_price" property="costPrice" jdbcType="INTEGER" />
    <result column="sale_price" property="salePrice" jdbcType="INTEGER" />
    <result column="member_price" property="memberPrice" jdbcType="INTEGER" />
    <result column="group_price" property="groupPrice" jdbcType="INTEGER" />
    <result column="suggested_retail_price" property="suggestedRetailPrice" jdbcType="INTEGER" />
    <result column="vip_discount" property="vipDiscount" jdbcType="DECIMAL" />
    <result column="virtual_inventory" property="virtualInventory" jdbcType="INTEGER" />
    <result column="lock_inventory" property="lockInventory" jdbcType="INTEGER" />
    <result column="sale_start" property="saleStart" jdbcType="TIMESTAMP" />
    <result column="sale_end" property="saleEnd" jdbcType="TIMESTAMP" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="row_version" property="rowVersion" jdbcType="INTEGER" />
    <result column="row_status" property="rowStatus" jdbcType="TINYINT" />
    <result column="biz_type" property="bizType" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="allocation" property="allocation" jdbcType="INTEGER" />
    <result column="min_order_quantity" property="minOrderQuantity" jdbcType="INTEGER" />
    <result column="min_display_quantity" property="minDisplayQuantity" jdbcType="INTEGER" />
    <result column="allocate_status" property="allocateStatus" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.songshu.snt.stwms.core.DO.skuWithBLOBs" extends="BaseResultMap" >
    <result column="image_text" property="imageText" jdbcType="LONGVARCHAR" />
    <result column="ext_att" property="extAtt" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sku_name, sku_type, good_id, the_package_sku, query_pym_code, query_wbm_code, 
    sku_sub_name, sku_description, sku_code, shop_no, item_id, product_guid, product_bar_code, 
    product_code, financial_code, taste, product_spec, big_unit, change_scale, small_unit, 
    quality_period, min_quality_period, product_license, product_standard, additive, 
    burden, storage_mode, net_weight, main_image, sku_status, sku_label, sale_channel, 
    can_sale_unit, sale_num, min_sale_quantity, max_sale_quantity, last_cost_price, cost_price, 
    sale_price, member_price, group_price, suggested_retail_price, vip_discount, virtual_inventory, 
    lock_inventory, sale_start, sale_end, gmt_create, gmt_modified, row_version, row_status, 
    biz_type, creator, operator, allocation, min_order_quantity, min_display_quantity, 
    allocate_status
  </sql>
  <sql id="Blob_Column_List" >
    image_text, ext_att
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sku
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.songshu.snt.stwms.core.DO.skuWithBLOBs" >
    insert into sku (id, sku_name, sku_type, 
      good_id, the_package_sku, query_pym_code, 
      query_wbm_code, sku_sub_name, sku_description, 
      sku_code, shop_no, item_id, 
      product_guid, product_bar_code, product_code, 
      financial_code, taste, product_spec, 
      big_unit, change_scale, small_unit, 
      quality_period, min_quality_period, product_license, 
      product_standard, additive, burden, 
      storage_mode, net_weight, main_image, 
      sku_status, sku_label, sale_channel, 
      can_sale_unit, sale_num, min_sale_quantity, 
      max_sale_quantity, last_cost_price, cost_price, 
      sale_price, member_price, group_price, 
      suggested_retail_price, vip_discount, virtual_inventory, 
      lock_inventory, sale_start, sale_end, 
      gmt_create, gmt_modified, row_version, 
      row_status, biz_type, creator, 
      operator, allocation, min_order_quantity, 
      min_display_quantity, allocate_status, image_text, 
      ext_att)
    values (#{id,jdbcType=BIGINT}, #{skuName,jdbcType=VARCHAR}, #{skuType,jdbcType=TINYINT}, 
      #{goodId,jdbcType=VARCHAR}, #{thePackageSku,jdbcType=TINYINT}, #{queryPymCode,jdbcType=VARCHAR}, 
      #{queryWbmCode,jdbcType=VARCHAR}, #{skuSubName,jdbcType=VARCHAR}, #{skuDescription,jdbcType=VARCHAR}, 
      #{skuCode,jdbcType=VARCHAR}, #{shopNo,jdbcType=VARCHAR}, #{itemId,jdbcType=BIGINT}, 
      #{productGuid,jdbcType=VARCHAR}, #{productBarCode,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, 
      #{financialCode,jdbcType=VARCHAR}, #{taste,jdbcType=VARCHAR}, #{productSpec,jdbcType=VARCHAR}, 
      #{bigUnit,jdbcType=VARCHAR}, #{changeScale,jdbcType=DECIMAL}, #{smallUnit,jdbcType=VARCHAR}, 
      #{qualityPeriod,jdbcType=INTEGER}, #{minQualityPeriod,jdbcType=INTEGER}, #{productLicense,jdbcType=VARCHAR}, 
      #{productStandard,jdbcType=VARCHAR}, #{additive,jdbcType=VARCHAR}, #{burden,jdbcType=VARCHAR}, 
      #{storageMode,jdbcType=VARCHAR}, #{netWeight,jdbcType=VARCHAR}, #{mainImage,jdbcType=VARCHAR}, 
      #{skuStatus,jdbcType=INTEGER}, #{skuLabel,jdbcType=VARCHAR}, #{saleChannel,jdbcType=TINYINT}, 
      #{canSaleUnit,jdbcType=VARCHAR}, #{saleNum,jdbcType=INTEGER}, #{minSaleQuantity,jdbcType=INTEGER}, 
      #{maxSaleQuantity,jdbcType=INTEGER}, #{lastCostPrice,jdbcType=INTEGER}, #{costPrice,jdbcType=INTEGER}, 
      #{salePrice,jdbcType=INTEGER}, #{memberPrice,jdbcType=INTEGER}, #{groupPrice,jdbcType=INTEGER}, 
      #{suggestedRetailPrice,jdbcType=INTEGER}, #{vipDiscount,jdbcType=DECIMAL}, #{virtualInventory,jdbcType=INTEGER}, 
      #{lockInventory,jdbcType=INTEGER}, #{saleStart,jdbcType=TIMESTAMP}, #{saleEnd,jdbcType=TIMESTAMP}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{rowVersion,jdbcType=INTEGER}, 
      #{rowStatus,jdbcType=TINYINT}, #{bizType,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{allocation,jdbcType=INTEGER}, #{minOrderQuantity,jdbcType=INTEGER}, 
      #{minDisplayQuantity,jdbcType=INTEGER}, #{allocateStatus,jdbcType=VARCHAR}, #{imageText,jdbcType=LONGVARCHAR}, 
      #{extAtt,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.songshu.snt.stwms.core.DO.skuWithBLOBs" >
    insert into sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="skuName != null" >
        sku_name,
      </if>
      <if test="skuType != null" >
        sku_type,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="thePackageSku != null" >
        the_package_sku,
      </if>
      <if test="queryPymCode != null" >
        query_pym_code,
      </if>
      <if test="queryWbmCode != null" >
        query_wbm_code,
      </if>
      <if test="skuSubName != null" >
        sku_sub_name,
      </if>
      <if test="skuDescription != null" >
        sku_description,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="shopNo != null" >
        shop_no,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="productGuid != null" >
        product_guid,
      </if>
      <if test="productBarCode != null" >
        product_bar_code,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="financialCode != null" >
        financial_code,
      </if>
      <if test="taste != null" >
        taste,
      </if>
      <if test="productSpec != null" >
        product_spec,
      </if>
      <if test="bigUnit != null" >
        big_unit,
      </if>
      <if test="changeScale != null" >
        change_scale,
      </if>
      <if test="smallUnit != null" >
        small_unit,
      </if>
      <if test="qualityPeriod != null" >
        quality_period,
      </if>
      <if test="minQualityPeriod != null" >
        min_quality_period,
      </if>
      <if test="productLicense != null" >
        product_license,
      </if>
      <if test="productStandard != null" >
        product_standard,
      </if>
      <if test="additive != null" >
        additive,
      </if>
      <if test="burden != null" >
        burden,
      </if>
      <if test="storageMode != null" >
        storage_mode,
      </if>
      <if test="netWeight != null" >
        net_weight,
      </if>
      <if test="mainImage != null" >
        main_image,
      </if>
      <if test="skuStatus != null" >
        sku_status,
      </if>
      <if test="skuLabel != null" >
        sku_label,
      </if>
      <if test="saleChannel != null" >
        sale_channel,
      </if>
      <if test="canSaleUnit != null" >
        can_sale_unit,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="minSaleQuantity != null" >
        min_sale_quantity,
      </if>
      <if test="maxSaleQuantity != null" >
        max_sale_quantity,
      </if>
      <if test="lastCostPrice != null" >
        last_cost_price,
      </if>
      <if test="costPrice != null" >
        cost_price,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="memberPrice != null" >
        member_price,
      </if>
      <if test="groupPrice != null" >
        group_price,
      </if>
      <if test="suggestedRetailPrice != null" >
        suggested_retail_price,
      </if>
      <if test="vipDiscount != null" >
        vip_discount,
      </if>
      <if test="virtualInventory != null" >
        virtual_inventory,
      </if>
      <if test="lockInventory != null" >
        lock_inventory,
      </if>
      <if test="saleStart != null" >
        sale_start,
      </if>
      <if test="saleEnd != null" >
        sale_end,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="rowVersion != null" >
        row_version,
      </if>
      <if test="rowStatus != null" >
        row_status,
      </if>
      <if test="bizType != null" >
        biz_type,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="allocation != null" >
        allocation,
      </if>
      <if test="minOrderQuantity != null" >
        min_order_quantity,
      </if>
      <if test="minDisplayQuantity != null" >
        min_display_quantity,
      </if>
      <if test="allocateStatus != null" >
        allocate_status,
      </if>
      <if test="imageText != null" >
        image_text,
      </if>
      <if test="extAtt != null" >
        ext_att,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuType != null" >
        #{skuType,jdbcType=TINYINT},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="thePackageSku != null" >
        #{thePackageSku,jdbcType=TINYINT},
      </if>
      <if test="queryPymCode != null" >
        #{queryPymCode,jdbcType=VARCHAR},
      </if>
      <if test="queryWbmCode != null" >
        #{queryWbmCode,jdbcType=VARCHAR},
      </if>
      <if test="skuSubName != null" >
        #{skuSubName,jdbcType=VARCHAR},
      </if>
      <if test="skuDescription != null" >
        #{skuDescription,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null" >
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="productGuid != null" >
        #{productGuid,jdbcType=VARCHAR},
      </if>
      <if test="productBarCode != null" >
        #{productBarCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="financialCode != null" >
        #{financialCode,jdbcType=VARCHAR},
      </if>
      <if test="taste != null" >
        #{taste,jdbcType=VARCHAR},
      </if>
      <if test="productSpec != null" >
        #{productSpec,jdbcType=VARCHAR},
      </if>
      <if test="bigUnit != null" >
        #{bigUnit,jdbcType=VARCHAR},
      </if>
      <if test="changeScale != null" >
        #{changeScale,jdbcType=DECIMAL},
      </if>
      <if test="smallUnit != null" >
        #{smallUnit,jdbcType=VARCHAR},
      </if>
      <if test="qualityPeriod != null" >
        #{qualityPeriod,jdbcType=INTEGER},
      </if>
      <if test="minQualityPeriod != null" >
        #{minQualityPeriod,jdbcType=INTEGER},
      </if>
      <if test="productLicense != null" >
        #{productLicense,jdbcType=VARCHAR},
      </if>
      <if test="productStandard != null" >
        #{productStandard,jdbcType=VARCHAR},
      </if>
      <if test="additive != null" >
        #{additive,jdbcType=VARCHAR},
      </if>
      <if test="burden != null" >
        #{burden,jdbcType=VARCHAR},
      </if>
      <if test="storageMode != null" >
        #{storageMode,jdbcType=VARCHAR},
      </if>
      <if test="netWeight != null" >
        #{netWeight,jdbcType=VARCHAR},
      </if>
      <if test="mainImage != null" >
        #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="skuStatus != null" >
        #{skuStatus,jdbcType=INTEGER},
      </if>
      <if test="skuLabel != null" >
        #{skuLabel,jdbcType=VARCHAR},
      </if>
      <if test="saleChannel != null" >
        #{saleChannel,jdbcType=TINYINT},
      </if>
      <if test="canSaleUnit != null" >
        #{canSaleUnit,jdbcType=VARCHAR},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="minSaleQuantity != null" >
        #{minSaleQuantity,jdbcType=INTEGER},
      </if>
      <if test="maxSaleQuantity != null" >
        #{maxSaleQuantity,jdbcType=INTEGER},
      </if>
      <if test="lastCostPrice != null" >
        #{lastCostPrice,jdbcType=INTEGER},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=INTEGER},
      </if>
      <if test="memberPrice != null" >
        #{memberPrice,jdbcType=INTEGER},
      </if>
      <if test="groupPrice != null" >
        #{groupPrice,jdbcType=INTEGER},
      </if>
      <if test="suggestedRetailPrice != null" >
        #{suggestedRetailPrice,jdbcType=INTEGER},
      </if>
      <if test="vipDiscount != null" >
        #{vipDiscount,jdbcType=DECIMAL},
      </if>
      <if test="virtualInventory != null" >
        #{virtualInventory,jdbcType=INTEGER},
      </if>
      <if test="lockInventory != null" >
        #{lockInventory,jdbcType=INTEGER},
      </if>
      <if test="saleStart != null" >
        #{saleStart,jdbcType=TIMESTAMP},
      </if>
      <if test="saleEnd != null" >
        #{saleEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null" >
        #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="rowStatus != null" >
        #{rowStatus,jdbcType=TINYINT},
      </if>
      <if test="bizType != null" >
        #{bizType,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="allocation != null" >
        #{allocation,jdbcType=INTEGER},
      </if>
      <if test="minOrderQuantity != null" >
        #{minOrderQuantity,jdbcType=INTEGER},
      </if>
      <if test="minDisplayQuantity != null" >
        #{minDisplayQuantity,jdbcType=INTEGER},
      </if>
      <if test="allocateStatus != null" >
        #{allocateStatus,jdbcType=VARCHAR},
      </if>
      <if test="imageText != null" >
        #{imageText,jdbcType=LONGVARCHAR},
      </if>
      <if test="extAtt != null" >
        #{extAtt,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.songshu.snt.stwms.core.DO.skuWithBLOBs" >
    update sku
    <set >
      <if test="skuName != null" >
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuType != null" >
        sku_type = #{skuType,jdbcType=TINYINT},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="thePackageSku != null" >
        the_package_sku = #{thePackageSku,jdbcType=TINYINT},
      </if>
      <if test="queryPymCode != null" >
        query_pym_code = #{queryPymCode,jdbcType=VARCHAR},
      </if>
      <if test="queryWbmCode != null" >
        query_wbm_code = #{queryWbmCode,jdbcType=VARCHAR},
      </if>
      <if test="skuSubName != null" >
        sku_sub_name = #{skuSubName,jdbcType=VARCHAR},
      </if>
      <if test="skuDescription != null" >
        sku_description = #{skuDescription,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null" >
        shop_no = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="productGuid != null" >
        product_guid = #{productGuid,jdbcType=VARCHAR},
      </if>
      <if test="productBarCode != null" >
        product_bar_code = #{productBarCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="financialCode != null" >
        financial_code = #{financialCode,jdbcType=VARCHAR},
      </if>
      <if test="taste != null" >
        taste = #{taste,jdbcType=VARCHAR},
      </if>
      <if test="productSpec != null" >
        product_spec = #{productSpec,jdbcType=VARCHAR},
      </if>
      <if test="bigUnit != null" >
        big_unit = #{bigUnit,jdbcType=VARCHAR},
      </if>
      <if test="changeScale != null" >
        change_scale = #{changeScale,jdbcType=DECIMAL},
      </if>
      <if test="smallUnit != null" >
        small_unit = #{smallUnit,jdbcType=VARCHAR},
      </if>
      <if test="qualityPeriod != null" >
        quality_period = #{qualityPeriod,jdbcType=INTEGER},
      </if>
      <if test="minQualityPeriod != null" >
        min_quality_period = #{minQualityPeriod,jdbcType=INTEGER},
      </if>
      <if test="productLicense != null" >
        product_license = #{productLicense,jdbcType=VARCHAR},
      </if>
      <if test="productStandard != null" >
        product_standard = #{productStandard,jdbcType=VARCHAR},
      </if>
      <if test="additive != null" >
        additive = #{additive,jdbcType=VARCHAR},
      </if>
      <if test="burden != null" >
        burden = #{burden,jdbcType=VARCHAR},
      </if>
      <if test="storageMode != null" >
        storage_mode = #{storageMode,jdbcType=VARCHAR},
      </if>
      <if test="netWeight != null" >
        net_weight = #{netWeight,jdbcType=VARCHAR},
      </if>
      <if test="mainImage != null" >
        main_image = #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="skuStatus != null" >
        sku_status = #{skuStatus,jdbcType=INTEGER},
      </if>
      <if test="skuLabel != null" >
        sku_label = #{skuLabel,jdbcType=VARCHAR},
      </if>
      <if test="saleChannel != null" >
        sale_channel = #{saleChannel,jdbcType=TINYINT},
      </if>
      <if test="canSaleUnit != null" >
        can_sale_unit = #{canSaleUnit,jdbcType=VARCHAR},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="minSaleQuantity != null" >
        min_sale_quantity = #{minSaleQuantity,jdbcType=INTEGER},
      </if>
      <if test="maxSaleQuantity != null" >
        max_sale_quantity = #{maxSaleQuantity,jdbcType=INTEGER},
      </if>
      <if test="lastCostPrice != null" >
        last_cost_price = #{lastCostPrice,jdbcType=INTEGER},
      </if>
      <if test="costPrice != null" >
        cost_price = #{costPrice,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=INTEGER},
      </if>
      <if test="memberPrice != null" >
        member_price = #{memberPrice,jdbcType=INTEGER},
      </if>
      <if test="groupPrice != null" >
        group_price = #{groupPrice,jdbcType=INTEGER},
      </if>
      <if test="suggestedRetailPrice != null" >
        suggested_retail_price = #{suggestedRetailPrice,jdbcType=INTEGER},
      </if>
      <if test="vipDiscount != null" >
        vip_discount = #{vipDiscount,jdbcType=DECIMAL},
      </if>
      <if test="virtualInventory != null" >
        virtual_inventory = #{virtualInventory,jdbcType=INTEGER},
      </if>
      <if test="lockInventory != null" >
        lock_inventory = #{lockInventory,jdbcType=INTEGER},
      </if>
      <if test="saleStart != null" >
        sale_start = #{saleStart,jdbcType=TIMESTAMP},
      </if>
      <if test="saleEnd != null" >
        sale_end = #{saleEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null" >
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="rowStatus != null" >
        row_status = #{rowStatus,jdbcType=TINYINT},
      </if>
      <if test="bizType != null" >
        biz_type = #{bizType,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="allocation != null" >
        allocation = #{allocation,jdbcType=INTEGER},
      </if>
      <if test="minOrderQuantity != null" >
        min_order_quantity = #{minOrderQuantity,jdbcType=INTEGER},
      </if>
      <if test="minDisplayQuantity != null" >
        min_display_quantity = #{minDisplayQuantity,jdbcType=INTEGER},
      </if>
      <if test="allocateStatus != null" >
        allocate_status = #{allocateStatus,jdbcType=VARCHAR},
      </if>
      <if test="imageText != null" >
        image_text = #{imageText,jdbcType=LONGVARCHAR},
      </if>
      <if test="extAtt != null" >
        ext_att = #{extAtt,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.songshu.snt.stwms.core.DO.skuWithBLOBs" >
    update sku
    set sku_name = #{skuName,jdbcType=VARCHAR},
      sku_type = #{skuType,jdbcType=TINYINT},
      good_id = #{goodId,jdbcType=VARCHAR},
      the_package_sku = #{thePackageSku,jdbcType=TINYINT},
      query_pym_code = #{queryPymCode,jdbcType=VARCHAR},
      query_wbm_code = #{queryWbmCode,jdbcType=VARCHAR},
      sku_sub_name = #{skuSubName,jdbcType=VARCHAR},
      sku_description = #{skuDescription,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      shop_no = #{shopNo,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      product_guid = #{productGuid,jdbcType=VARCHAR},
      product_bar_code = #{productBarCode,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      financial_code = #{financialCode,jdbcType=VARCHAR},
      taste = #{taste,jdbcType=VARCHAR},
      product_spec = #{productSpec,jdbcType=VARCHAR},
      big_unit = #{bigUnit,jdbcType=VARCHAR},
      change_scale = #{changeScale,jdbcType=DECIMAL},
      small_unit = #{smallUnit,jdbcType=VARCHAR},
      quality_period = #{qualityPeriod,jdbcType=INTEGER},
      min_quality_period = #{minQualityPeriod,jdbcType=INTEGER},
      product_license = #{productLicense,jdbcType=VARCHAR},
      product_standard = #{productStandard,jdbcType=VARCHAR},
      additive = #{additive,jdbcType=VARCHAR},
      burden = #{burden,jdbcType=VARCHAR},
      storage_mode = #{storageMode,jdbcType=VARCHAR},
      net_weight = #{netWeight,jdbcType=VARCHAR},
      main_image = #{mainImage,jdbcType=VARCHAR},
      sku_status = #{skuStatus,jdbcType=INTEGER},
      sku_label = #{skuLabel,jdbcType=VARCHAR},
      sale_channel = #{saleChannel,jdbcType=TINYINT},
      can_sale_unit = #{canSaleUnit,jdbcType=VARCHAR},
      sale_num = #{saleNum,jdbcType=INTEGER},
      min_sale_quantity = #{minSaleQuantity,jdbcType=INTEGER},
      max_sale_quantity = #{maxSaleQuantity,jdbcType=INTEGER},
      last_cost_price = #{lastCostPrice,jdbcType=INTEGER},
      cost_price = #{costPrice,jdbcType=INTEGER},
      sale_price = #{salePrice,jdbcType=INTEGER},
      member_price = #{memberPrice,jdbcType=INTEGER},
      group_price = #{groupPrice,jdbcType=INTEGER},
      suggested_retail_price = #{suggestedRetailPrice,jdbcType=INTEGER},
      vip_discount = #{vipDiscount,jdbcType=DECIMAL},
      virtual_inventory = #{virtualInventory,jdbcType=INTEGER},
      lock_inventory = #{lockInventory,jdbcType=INTEGER},
      sale_start = #{saleStart,jdbcType=TIMESTAMP},
      sale_end = #{saleEnd,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      row_version = #{rowVersion,jdbcType=INTEGER},
      row_status = #{rowStatus,jdbcType=TINYINT},
      biz_type = #{bizType,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      allocation = #{allocation,jdbcType=INTEGER},
      min_order_quantity = #{minOrderQuantity,jdbcType=INTEGER},
      min_display_quantity = #{minDisplayQuantity,jdbcType=INTEGER},
      allocate_status = #{allocateStatus,jdbcType=VARCHAR},
      image_text = #{imageText,jdbcType=LONGVARCHAR},
      ext_att = #{extAtt,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.songshu.snt.stwms.core.DO.sku" >
    update sku
    set sku_name = #{skuName,jdbcType=VARCHAR},
      sku_type = #{skuType,jdbcType=TINYINT},
      good_id = #{goodId,jdbcType=VARCHAR},
      the_package_sku = #{thePackageSku,jdbcType=TINYINT},
      query_pym_code = #{queryPymCode,jdbcType=VARCHAR},
      query_wbm_code = #{queryWbmCode,jdbcType=VARCHAR},
      sku_sub_name = #{skuSubName,jdbcType=VARCHAR},
      sku_description = #{skuDescription,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      shop_no = #{shopNo,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      product_guid = #{productGuid,jdbcType=VARCHAR},
      product_bar_code = #{productBarCode,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      financial_code = #{financialCode,jdbcType=VARCHAR},
      taste = #{taste,jdbcType=VARCHAR},
      product_spec = #{productSpec,jdbcType=VARCHAR},
      big_unit = #{bigUnit,jdbcType=VARCHAR},
      change_scale = #{changeScale,jdbcType=DECIMAL},
      small_unit = #{smallUnit,jdbcType=VARCHAR},
      quality_period = #{qualityPeriod,jdbcType=INTEGER},
      min_quality_period = #{minQualityPeriod,jdbcType=INTEGER},
      product_license = #{productLicense,jdbcType=VARCHAR},
      product_standard = #{productStandard,jdbcType=VARCHAR},
      additive = #{additive,jdbcType=VARCHAR},
      burden = #{burden,jdbcType=VARCHAR},
      storage_mode = #{storageMode,jdbcType=VARCHAR},
      net_weight = #{netWeight,jdbcType=VARCHAR},
      main_image = #{mainImage,jdbcType=VARCHAR},
      sku_status = #{skuStatus,jdbcType=INTEGER},
      sku_label = #{skuLabel,jdbcType=VARCHAR},
      sale_channel = #{saleChannel,jdbcType=TINYINT},
      can_sale_unit = #{canSaleUnit,jdbcType=VARCHAR},
      sale_num = #{saleNum,jdbcType=INTEGER},
      min_sale_quantity = #{minSaleQuantity,jdbcType=INTEGER},
      max_sale_quantity = #{maxSaleQuantity,jdbcType=INTEGER},
      last_cost_price = #{lastCostPrice,jdbcType=INTEGER},
      cost_price = #{costPrice,jdbcType=INTEGER},
      sale_price = #{salePrice,jdbcType=INTEGER},
      member_price = #{memberPrice,jdbcType=INTEGER},
      group_price = #{groupPrice,jdbcType=INTEGER},
      suggested_retail_price = #{suggestedRetailPrice,jdbcType=INTEGER},
      vip_discount = #{vipDiscount,jdbcType=DECIMAL},
      virtual_inventory = #{virtualInventory,jdbcType=INTEGER},
      lock_inventory = #{lockInventory,jdbcType=INTEGER},
      sale_start = #{saleStart,jdbcType=TIMESTAMP},
      sale_end = #{saleEnd,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      row_version = #{rowVersion,jdbcType=INTEGER},
      row_status = #{rowStatus,jdbcType=TINYINT},
      biz_type = #{bizType,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      allocation = #{allocation,jdbcType=INTEGER},
      min_order_quantity = #{minOrderQuantity,jdbcType=INTEGER},
      min_display_quantity = #{minDisplayQuantity,jdbcType=INTEGER},
      allocate_status = #{allocateStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>