<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.cpx.dao.OperationMapper" >
  <resultMap id="BaseResultMap" type="com.project.cpx.entity.Operation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operate_date" property="operateDate" jdbcType="VARCHAR" />
    <result column="product_category" property="productCategory" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="belong" property="belong" jdbcType="VARCHAR" />
    <result column="sale_price" property="salePrice" jdbcType="INTEGER" />
    <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
    <result column="sale_total_price" property="saleTotalPrice" jdbcType="INTEGER" />
    <result column="rebate_num" property="rebateNum" jdbcType="INTEGER" />
    <result column="un_rebate_num" property="unRebateNum" jdbcType="INTEGER" />
    <result column="actual_price" property="actualPrice" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="construct_price" property="constructPrice" jdbcType="INTEGER" />
    <result column="construct_preson" property="constructPreson" jdbcType="VARCHAR" />
    <result column="sales_commission" property="salesCommission" jdbcType="INTEGER" />
    <result column="sales_rate" property="salesRate" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="VARCHAR" />
    <result column="collection_type" property="collectionType" jdbcType="VARCHAR" />
    <result column="partner_company_name" property="partnerCompanyName" jdbcType="VARCHAR" />
    <result column="partner_sales" property="partnerSales" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="car_frame" property="carFrame" jdbcType="VARCHAR" />
    <result column="car_no" property="carNo" jdbcType="VARCHAR" />
    <result column="car_owner" property="carOwner" jdbcType="VARCHAR" />
    <result column="car_owner_phone" property="carOwnerPhone" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="row_status" property="rowStatus" jdbcType="TINYINT" />
    <result column="row_version" property="rowVersion" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operate_date, product_category, product_name, belong, sale_price, sale_num, sale_total_price, 
    rebate_num, un_rebate_num, actual_price, price, construct_price, construct_preson, 
    sales_commission, sales_rate, sales, collection_type, partner_company_name, partner_sales, 
    car_type, car_frame, car_no, car_owner, car_owner_phone, remark, gmt_create, gmt_modify, 
    row_status, row_version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.cpx.entity.Operation" >
    insert into operation (id, operate_date, product_category, 
      product_name, belong, sale_price, 
      sale_num, sale_total_price, rebate_num, 
      un_rebate_num, actual_price, price, 
      construct_price, construct_preson, sales_commission, 
      sales_rate, sales, collection_type, 
      partner_company_name, partner_sales, car_type, 
      car_frame, car_no, car_owner, 
      car_owner_phone, remark, gmt_create, 
      gmt_modify, row_status, row_version
      )
    values (#{id,jdbcType=INTEGER}, #{operateDate,jdbcType=VARCHAR}, #{productCategory,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{belong,jdbcType=VARCHAR}, #{salePrice,jdbcType=INTEGER}, 
      #{saleNum,jdbcType=INTEGER}, #{saleTotalPrice,jdbcType=INTEGER}, #{rebateNum,jdbcType=INTEGER}, 
      #{unRebateNum,jdbcType=INTEGER}, #{actualPrice,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, 
      #{constructPrice,jdbcType=INTEGER}, #{constructPreson,jdbcType=VARCHAR}, #{salesCommission,jdbcType=INTEGER}, 
      #{salesRate,jdbcType=INTEGER}, #{sales,jdbcType=VARCHAR}, #{collectionType,jdbcType=VARCHAR}, 
      #{partnerCompanyName,jdbcType=VARCHAR}, #{partnerSales,jdbcType=VARCHAR}, #{carType,jdbcType=VARCHAR}, 
      #{carFrame,jdbcType=VARCHAR}, #{carNo,jdbcType=VARCHAR}, #{carOwner,jdbcType=VARCHAR}, 
      #{carOwnerPhone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{rowStatus,jdbcType=TINYINT}, #{rowVersion,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.cpx.entity.Operation" >
    insert into operation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operateDate != null" >
        operate_date,
      </if>
      <if test="productCategory != null" >
        product_category,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="belong != null" >
        belong,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="saleTotalPrice != null" >
        sale_total_price,
      </if>
      <if test="rebateNum != null" >
        rebate_num,
      </if>
      <if test="unRebateNum != null" >
        un_rebate_num,
      </if>
      <if test="actualPrice != null" >
        actual_price,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="constructPrice != null" >
        construct_price,
      </if>
      <if test="constructPreson != null" >
        construct_preson,
      </if>
      <if test="salesCommission != null" >
        sales_commission,
      </if>
      <if test="salesRate != null" >
        sales_rate,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="collectionType != null" >
        collection_type,
      </if>
      <if test="partnerCompanyName != null" >
        partner_company_name,
      </if>
      <if test="partnerSales != null" >
        partner_sales,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="carFrame != null" >
        car_frame,
      </if>
      <if test="carNo != null" >
        car_no,
      </if>
      <if test="carOwner != null" >
        car_owner,
      </if>
      <if test="carOwnerPhone != null" >
        car_owner_phone,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="rowStatus != null" >
        row_status,
      </if>
      <if test="rowVersion != null" >
        row_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operateDate != null" >
        #{operateDate,jdbcType=VARCHAR},
      </if>
      <if test="productCategory != null" >
        #{productCategory,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="belong != null" >
        #{belong,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=INTEGER},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="saleTotalPrice != null" >
        #{saleTotalPrice,jdbcType=INTEGER},
      </if>
      <if test="rebateNum != null" >
        #{rebateNum,jdbcType=INTEGER},
      </if>
      <if test="unRebateNum != null" >
        #{unRebateNum,jdbcType=INTEGER},
      </if>
      <if test="actualPrice != null" >
        #{actualPrice,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="constructPrice != null" >
        #{constructPrice,jdbcType=INTEGER},
      </if>
      <if test="constructPreson != null" >
        #{constructPreson,jdbcType=VARCHAR},
      </if>
      <if test="salesCommission != null" >
        #{salesCommission,jdbcType=INTEGER},
      </if>
      <if test="salesRate != null" >
        #{salesRate,jdbcType=INTEGER},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=VARCHAR},
      </if>
      <if test="collectionType != null" >
        #{collectionType,jdbcType=VARCHAR},
      </if>
      <if test="partnerCompanyName != null" >
        #{partnerCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="partnerSales != null" >
        #{partnerSales,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carFrame != null" >
        #{carFrame,jdbcType=VARCHAR},
      </if>
      <if test="carNo != null" >
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carOwner != null" >
        #{carOwner,jdbcType=VARCHAR},
      </if>
      <if test="carOwnerPhone != null" >
        #{carOwnerPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="rowStatus != null" >
        #{rowStatus,jdbcType=TINYINT},
      </if>
      <if test="rowVersion != null" >
        #{rowVersion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.cpx.entity.Operation" >
    update operation
    <set >
      <if test="operateDate != null" >
        operate_date = #{operateDate,jdbcType=VARCHAR},
      </if>
      <if test="productCategory != null" >
        product_category = #{productCategory,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="belong != null" >
        belong = #{belong,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=INTEGER},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="saleTotalPrice != null" >
        sale_total_price = #{saleTotalPrice,jdbcType=INTEGER},
      </if>
      <if test="rebateNum != null" >
        rebate_num = #{rebateNum,jdbcType=INTEGER},
      </if>
      <if test="unRebateNum != null" >
        un_rebate_num = #{unRebateNum,jdbcType=INTEGER},
      </if>
      <if test="actualPrice != null" >
        actual_price = #{actualPrice,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="constructPrice != null" >
        construct_price = #{constructPrice,jdbcType=INTEGER},
      </if>
      <if test="constructPreson != null" >
        construct_preson = #{constructPreson,jdbcType=VARCHAR},
      </if>
      <if test="salesCommission != null" >
        sales_commission = #{salesCommission,jdbcType=INTEGER},
      </if>
      <if test="salesRate != null" >
        sales_rate = #{salesRate,jdbcType=INTEGER},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=VARCHAR},
      </if>
      <if test="collectionType != null" >
        collection_type = #{collectionType,jdbcType=VARCHAR},
      </if>
      <if test="partnerCompanyName != null" >
        partner_company_name = #{partnerCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="partnerSales != null" >
        partner_sales = #{partnerSales,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carFrame != null" >
        car_frame = #{carFrame,jdbcType=VARCHAR},
      </if>
      <if test="carNo != null" >
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carOwner != null" >
        car_owner = #{carOwner,jdbcType=VARCHAR},
      </if>
      <if test="carOwnerPhone != null" >
        car_owner_phone = #{carOwnerPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="rowStatus != null" >
        row_status = #{rowStatus,jdbcType=TINYINT},
      </if>
      <if test="rowVersion != null" >
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.cpx.entity.Operation" >
    update operation
    set operate_date = #{operateDate,jdbcType=VARCHAR},
      product_category = #{productCategory,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      belong = #{belong,jdbcType=VARCHAR},
      sale_price = #{salePrice,jdbcType=INTEGER},
      sale_num = #{saleNum,jdbcType=INTEGER},
      sale_total_price = #{saleTotalPrice,jdbcType=INTEGER},
      rebate_num = #{rebateNum,jdbcType=INTEGER},
      un_rebate_num = #{unRebateNum,jdbcType=INTEGER},
      actual_price = #{actualPrice,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      construct_price = #{constructPrice,jdbcType=INTEGER},
      construct_preson = #{constructPreson,jdbcType=VARCHAR},
      sales_commission = #{salesCommission,jdbcType=INTEGER},
      sales_rate = #{salesRate,jdbcType=INTEGER},
      sales = #{sales,jdbcType=VARCHAR},
      collection_type = #{collectionType,jdbcType=VARCHAR},
      partner_company_name = #{partnerCompanyName,jdbcType=VARCHAR},
      partner_sales = #{partnerSales,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      car_frame = #{carFrame,jdbcType=VARCHAR},
      car_no = #{carNo,jdbcType=VARCHAR},
      car_owner = #{carOwner,jdbcType=VARCHAR},
      car_owner_phone = #{carOwnerPhone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      row_status = #{rowStatus,jdbcType=TINYINT},
      row_version = #{rowVersion,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>