<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.cpx.dao.PurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.project.cpx.entity.Purchase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operate_date" property="operateDate" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="total_price" property="totalPrice" jdbcType="INTEGER" />
    <result column="manager" property="manager" jdbcType="VARCHAR" />
    <result column="supplier_company_name" property="supplierCompanyName" jdbcType="VARCHAR" />
    <result column="supplier_phone" property="supplierPhone" jdbcType="VARCHAR" />
    <result column="supplier_person" property="supplierPerson" jdbcType="VARCHAR" />
    <result column="is_paid" property="isPaid" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="row_status" property="rowStatus" jdbcType="TINYINT" />
    <result column="row_version" property="rowVersion" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operate_date, product_name, car_type, price, num, total_price, manager, supplier_company_name, 
    supplier_phone, supplier_person, is_paid, remark, gmt_create, gmt_modify, row_status, 
    row_version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchase
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchase
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.cpx.entity.Purchase" >
    insert into purchase (id, operate_date, product_name, 
      car_type, price, num, 
      total_price, manager, supplier_company_name, 
      supplier_phone, supplier_person, is_paid, 
      remark, gmt_create, gmt_modify, 
      row_status, row_version)
    values (#{id,jdbcType=INTEGER}, #{operateDate,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{carType,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{totalPrice,jdbcType=INTEGER}, #{manager,jdbcType=VARCHAR}, #{supplierCompanyName,jdbcType=VARCHAR}, 
      #{supplierPhone,jdbcType=VARCHAR}, #{supplierPerson,jdbcType=VARCHAR}, #{isPaid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{rowStatus,jdbcType=TINYINT}, #{rowVersion,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.project.cpx.entity.Purchase" >
    insert into purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operateDate != null" >
        operate_date,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="supplierCompanyName != null" >
        supplier_company_name,
      </if>
      <if test="supplierPhone != null" >
        supplier_phone,
      </if>
      <if test="supplierPerson != null" >
        supplier_person,
      </if>
      <if test="isPaid != null" >
        is_paid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="rowStatus != null" >
        row_status,
      </if>
      <if test="rowVersion != null" >
        row_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operateDate != null" >
        #{operateDate,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="supplierCompanyName != null" >
        #{supplierCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="supplierPhone != null" >
        #{supplierPhone,jdbcType=VARCHAR},
      </if>
      <if test="supplierPerson != null" >
        #{supplierPerson,jdbcType=VARCHAR},
      </if>
      <if test="isPaid != null" >
        #{isPaid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="rowStatus != null" >
        #{rowStatus,jdbcType=TINYINT},
      </if>
      <if test="rowVersion != null" >
        #{rowVersion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.cpx.entity.Purchase" >
    update purchase
    <set >
      <if test="operateDate != null" >
        operate_date = #{operateDate,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="manager != null" >
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="supplierCompanyName != null" >
        supplier_company_name = #{supplierCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="supplierPhone != null" >
        supplier_phone = #{supplierPhone,jdbcType=VARCHAR},
      </if>
      <if test="supplierPerson != null" >
        supplier_person = #{supplierPerson,jdbcType=VARCHAR},
      </if>
      <if test="isPaid != null" >
        is_paid = #{isPaid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="rowStatus != null" >
        row_status = #{rowStatus,jdbcType=TINYINT},
      </if>
      <if test="rowVersion != null" >
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.cpx.entity.Purchase" >
    update purchase
    set operate_date = #{operateDate,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=INTEGER},
      manager = #{manager,jdbcType=VARCHAR},
      supplier_company_name = #{supplierCompanyName,jdbcType=VARCHAR},
      supplier_phone = #{supplierPhone,jdbcType=VARCHAR},
      supplier_person = #{supplierPerson,jdbcType=VARCHAR},
      is_paid = #{isPaid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      row_status = #{rowStatus,jdbcType=TINYINT},
      row_version = #{rowVersion,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>